<!-- Body-->
<div class="body sige-form-body">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sige-form-grid sige-form-grid--legacy">
    
        {% for field in form %}
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-line">
              <label>{{field.label}}</label>{% if field.field.required %}<strong style="color:red;"> *</strong>{% endif %}
              {% if field.errors %}<label class="error">{% for error in field.errors %}{{error}}{% endfor %}</label>{% endif %}
              {{field}}
            </div>
          </div>
        </div>
        {% endfor %}

  </div>

  <div class="sige-form-actions">
    <button class="btn btn-success foot-btn sige-button sige-button--primary" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
  </div>
</div>
<!--#Body-->
