{%extends 'base/base.html'%}


{%block title%} {{form.descricao.value}} {%endblock%}
{%block content%}
<section class="content sige-modern-form">
  <div class="container-fluid sige-form-page">

    {% include 'base/title_header.html' %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="card sige-form-card">

          <!--Header-->
          <div class="header sige-form-header">

            <h2>
              <a href="{{return_url}}"><i class="material-icons">&#xE5C4;</i></a>{{form.descricao.value}}
            </h2>
            <div><small>Campos marcados com <strong style="color:red;">*</strong> são obrigatórios.</small></div>

          </div>
          <!--# Header-->

          <form role="form" action="" method="post" enctype="multipart/form-data" class="sige-form">
            {% csrf_token %}
            <!-- Body-->
            <div class="body sige-form-body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                {% include 'cadastro/produto/produto_tab_list.html' %}

                <div class="tab-content sige-form-tabpanes">
                  <!-- Tab dados gerais -->
                  <div role="tabpanel" class="tab-pane active sige-form-section" id="tab_dados_gerais">

                    {% include 'cadastro/produto/produto_tab_dados_gerais.html' %}

                  </div>
                  <!-- #Tab dados gerais -->

                  <!-- Tab estoque -->
                  <div role="tabpanel" class="tab-pane formset-tab sige-form-section" id="tab_estoque">

                    {% include 'cadastro/produto/produto_tab_estoque.html' %}

                  </div>
                  <!-- #Tab estoque -->

                  <!-- Tab fiscal -->
                  <div role="tabpanel" class="tab-pane formset-tab sige-form-section" id="tab_fiscal">

                    {% include 'cadastro/produto/produto_tab_fiscal.html' %}

                  </div>
                  <!-- #Tab fiscal -->
                  
                </div>

              </div>
              <div class="sige-form-actions">
                <button class="btn btn-success foot-btn sige-button sige-button--primary" type="submit"><i class="material-icons">&#xE148;</i><span> SALVAR</span></button>
              </div>
            </div>
            <!--#Body-->
          </form>

          <div class="modal fade sige-modal" id="sige-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog sige-modal__dialog" role="document">
              <div class="modal-content sige-modal__content"></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</section>


{%endblock%}

{% block js %}
    
  {% include 'cadastro/produto/produto_jsblock.html' %}

{% endblock %}
